// 全局的一些自定义样式

// 自定义容器
.custom-block.tip, .custom-block.warning, .custom-block.danger
  border-radius 6px
.custom-block.warning
  color #5e6d82
  border-color #50bfff
  background-color #ecf8ff
.custom-block.warning .custom-block-title
  color #5e6d82